/SanTheThaoAPI/obj/Debug
SanTheThaoAPI/.vscode/settings.json
SanTheThaoAPI/obj/project.assets.json
SanTheThaoAPI/obj/project.nuget.cache
SanTheThaoAPI/obj/SanTheThaoAPI.csproj.nuget.dgspec.json
SanTheThaoAPI/obj/SanTheThaoAPI.csproj.nuget.g.props
SanTheThaoFE/.vscode/settings.json
