IF DB_ID(N'SanTheThao') IS NULL
BEGIN
    CREATE DATABASE [SanTheThao];
END
GO
USE [SanTheThao]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 03/06/2026 3:39:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 03/06/2026 3:39:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourtId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[BookingDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courts]    Script Date: 03/06/2026 3:39:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[PricePerHour] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SportTypeId] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Courts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsPosts]    Script Date: 03/06/2026 3:39:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsPosts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[Summary] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ThumbnailUrl] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NOT NULL,
	[IsPublished] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[AuthorId] [int] NOT NULL,
 CONSTRAINT [PK_NewsPosts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostReviews]    Script Date: 03/06/2026 3:39:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostReviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](max) NULL,
 CONSTRAINT [PK_PostReviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 03/06/2026 3:39:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourtId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SportTypes]    Script Date: 03/06/2026 3:39:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SportTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Icon] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_SportTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03/06/2026 3:39:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[AvatarUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260515093615_InitialCreate', N'10.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260516152050_FixAdminHash', N'10.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260517152526_AddNewsPost', N'10.0.8')
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [CourtId], [UserId], [BookingDate], [StartTime], [EndTime], [TotalPrice], [Status], [Note], [CreatedAt]) VALUES (1, 1, 2, CAST(N'2026-05-16' AS Date), CAST(N'07:00:00' AS Time), CAST(N'08:00:00' AS Time), CAST(200000.00 AS Decimal(18, 2)), 2, NULL, CAST(N'2026-05-16T22:05:13.9574599' AS DateTime2))
INSERT [dbo].[Bookings] ([Id], [CourtId], [UserId], [BookingDate], [StartTime], [EndTime], [TotalPrice], [Status], [Note], [CreatedAt]) VALUES (2, 1, 2, CAST(N'2026-05-16' AS Date), CAST(N'11:00:00' AS Time), CAST(N'12:00:00' AS Time), CAST(200000.00 AS Decimal(18, 2)), 1, N'Cho thêm thùng ken đá xong lụm luôn', CAST(N'2026-05-16T22:32:23.1713994' AS DateTime2))
INSERT [dbo].[Bookings] ([Id], [CourtId], [UserId], [BookingDate], [StartTime], [EndTime], [TotalPrice], [Status], [Note], [CreatedAt]) VALUES (3, 6, 1, CAST(N'2026-05-17' AS Date), CAST(N'06:00:00' AS Time), CAST(N'07:00:00' AS Time), CAST(150000.00 AS Decimal(18, 2)), 1, NULL, CAST(N'2026-05-17T22:51:36.4507676' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Courts] ON 

INSERT [dbo].[Courts] ([Id], [Name], [Description], [PricePerHour], [IsActive], [SportTypeId], [ImageUrl]) VALUES (1, N'Sân Bóng Đá A1', N'', CAST(200000.00 AS Decimal(18, 2)), 1, 1, N'/images/courts/court_1.png')
INSERT [dbo].[Courts] ([Id], [Name], [Description], [PricePerHour], [IsActive], [SportTypeId], [ImageUrl]) VALUES (2, N'Sân Bóng Đá A2', N'', CAST(200000.00 AS Decimal(18, 2)), 1, 1, N'/images/courts/court_2.jpg')
INSERT [dbo].[Courts] ([Id], [Name], [Description], [PricePerHour], [IsActive], [SportTypeId], [ImageUrl]) VALUES (3, N'Sân Bóng Đá B1', N'', CAST(250000.00 AS Decimal(18, 2)), 1, 1, N'/images/courts/court_3.jpg')
SET IDENTITY_INSERT [dbo].[Courts] OFF
GO
SET IDENTITY_INSERT [dbo].[NewsPosts] ON 

SET IDENTITY_INSERT [dbo].[NewsPosts] OFF
GO
SET IDENTITY_INSERT [dbo].[PostReviews] ON 

INSERT [dbo].[PostReviews] ([Id], [PostId], [Rating], [Comment], [UserName]) VALUES (1, 21, 5, N'Bài viết bổ x', N'Gun')
SET IDENTITY_INSERT [dbo].[PostReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [CourtId], [Rating], [Comment], [UserName]) VALUES (1, 4, 5, N'Tuất', N'Gun')
INSERT [dbo].[Reviews] ([Id], [CourtId], [Rating], [Comment], [UserName]) VALUES (2, 4, 5, N'tuất', N'Gun')
INSERT [dbo].[Reviews] ([Id], [CourtId], [Rating], [Comment], [UserName]) VALUES (3, 1, 5, N'Sân đẹp', N'Gun')
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[SportTypes] ON 

INSERT [dbo].[SportTypes] ([Id], [Name], [Icon], [Description], [IsActive]) VALUES (1, N'Bóng đá', N'⚽', N'Sân bóng đá mini 5v5, 7v7', 1)
INSERT [dbo].[SportTypes] ([Id], [Name], [Icon], [Description], [IsActive]) VALUES (2, N'Cầu lông', N'🏸', N'Sân cầu lông tiêu chuẩn', 1)
INSERT [dbo].[SportTypes] ([Id], [Name], [Icon], [Description], [IsActive]) VALUES (3, N'Bóng chuyền', N'🏐', N'Sân bóng chuyền trong nhà', 1)
SET IDENTITY_INSERT [dbo].[SportTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Email], [PhoneNumber], [PasswordHash], [Role], [IsActive], [CreatedAt], [AvatarUrl]) VALUES (1, N'Admin', N'admin@santhethao.com', N'090000008', N'$2a$11$yV0FV04Hjnn7Zqs2PIg2W.DLDv/DvJCYb7Ec47aBxlxokgPYENhqe', N'Admin', 1, CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PhoneNumber], [PasswordHash], [Role], [IsActive], [CreatedAt], [AvatarUrl]) VALUES (2, N'Gun', N'gun@gmail.com', N'012345678', N'$2a$11$5MZuFnCt16r6uP17a8fEQup6r37l0FW.8HjvXbhT1nSrcaVumsB2y', N'Customer', 1, CAST(N'2026-05-15T17:04:19.2025426' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Courts_CourtId] FOREIGN KEY([CourtId])
REFERENCES [dbo].[Courts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Courts_CourtId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Users_UserId]
GO
ALTER TABLE [dbo].[Courts]  WITH CHECK ADD  CONSTRAINT [FK_Courts_SportTypes_SportTypeId] FOREIGN KEY([SportTypeId])
REFERENCES [dbo].[SportTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courts] CHECK CONSTRAINT [FK_Courts_SportTypes_SportTypeId]
GO
ALTER TABLE [dbo].[NewsPosts]  WITH CHECK ADD  CONSTRAINT [FK_NewsPosts_Users_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NewsPosts] CHECK CONSTRAINT [FK_NewsPosts_Users_AuthorId]
GO
