<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-grid">

      <div class="footer-brand">
        <a href="/" class="footer-logo">
            <img src="/images/logo/santhethao.logo.png" alt="logo-santhethao">
           Sân <span style="color:#3b82f6">Thể Thao</span>
        </a>
        <p class="footer-desc">
          Hệ thống đặt sân thể thao trực tuyến — nhanh chóng, tiện lợi và uy tín.
        </p>
        <div class="social-links">
          <a href="https://www.instagram.com/sontungmtp/" class="social-icon"><img src="https://img.icons8.com/?size=100&id=118497&format=png&color=000000" alt="facebook-logo"></a>
          <a href="https://web.facebook.com/MTP.Fan/" class="social-icon"><img src="https://img.icons8.com/?size=100&id=BrU2BBoRXiWq&format=png&color=000000" alt="ig-logo"></a>
          <a href="https://www.youtube.com/channel/UClyA28-01x4z60eWQ2kiNbA" class="social-icon"><img src="https://img.icons8.com/?size=100&id=19318&format=png&color=000000" alt="yt-logo"></a>
        </div>
      </div>

      <div class="footer-links-col">
        <h4>ĐẶT SÂN</h4>
        <div class="links-group">
          <a routerLink="/courts" [queryParams]="{sportTypeId:1}">🌐 Bóng đá</a>
          <a routerLink="/courts" [queryParams]="{sportTypeId:2}">🏸 Cầu lông</a>
          <a routerLink="/courts" [queryParams]="{sportTypeId:3}">🏐 Bóng chuyền</a>
          <a routerLink="/courts" [queryParams]="{sportTypeId:4}">🏀 Bóng rổ</a>
          <a routerLink="/courts" [queryParams]="{sportTypeId:5}">🏓 Pickleball</a>
        </div>
      </div>

      <div class="footer-links-col">
        <h4>HỖ TRỢ</h4>
        <div class="links-group">
          <a routerLink="/news">Tin tức</a>
          <a routerLink="/register">Đăng ký</a>
          <a routerLink="/login">Đăng nhập</a>
        </div>
      </div>

        <div class="footer-links-col">
        <h4>LIÊN HỆ</h4>
        <div class="contact-info">
            <a href="https://maps.app.goo.gl/RtY8uPovjpUowetD8">📍 4V9J+X39, Đông Anh, Hà Nội, Vietnam</a>
            <a href="tel:0901234567">📞 0901 234 567</a>
            <a href="mailto:contact@santhethao.com">✉️ contact@santhethao.com</a>
            <span>🕐 Mở cửa 06:00 – 22:00 hàng ngày</span> </div>
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4330.273943864055!2d105.87994745146918!3d21.120440066462063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313501fd2116b857%3A0xd7f18fe2afa8deb!2zS2h1IGxpw6puIGjhu6NwIHRo4buDIHRoYW8gQ-G7mW5nIMSQ4buTbmc!5e1!3m2!1sen!2s!4v1781616778687!5m2!1sen!2s" width="100%" height="150" style="border:0; margin-top: 15px; border-radius: 8px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>

    <div class="footer-bottom">
      <span>© 2026 Sân Thể Thao. All rights reserved.</span>
      <span>Made with ❤️ in Việt Nam</span>
    </div>
  </div>
</footer>